<div class="row">
  <div class="col-4 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Resetează parola
      </div>
      <div class="card-body">

        <form [formGroup]="form" (ngSubmit)="onClick()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Parolă nouă</label>
              <input type="password" class="form-control" formControlName="password" >
              <span *ngIf="!password.valid && (password.touched || submited)" class="error-block">
                <span *ngIf="password.hasError('required')" class="error-block">Te rugăm să completezi acest camp.</span>
                <span *ngIf="password.hasError('minlength')" class="error-block">Parola trebuie sa contină minim 5 caractere.</span>
              </span>
          </div>

          <div class="form-group col-12">
            <label for="name" class="form-label">Confirmă noua parolă</label>
            <input type="password" class="form-control"  formControlName="confirmPassword">
            <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || submited)" class="error-block">
              <span *ngIf="confirmPassword.hasError('required')" class="error-block">Te rugăm să completezi acest camp.</span>
            </span>
            <span *ngIf="form.hasError('notmatched') && confirmPassword.valid " class="error-block">
              Parola nu se potriveste.
            </span>
        </div>

        <div class="form-group col-12 mt-2 d-flex " >
          <button [disabled]="!form.valid" type="submit" class="btn btn-success  col-6">Resetează parola</button>
        </div>

        </form>

      </div>
    </div>
  </div>
</div>
