.member-icons-top-right{
    position: absolute;
    top: -1%;
    left: 90%
 }


 .member-icons-top-left{
    position: absolute;
    top: -8%;
    left: 0%
 }

 .input-border{
   position: relative;
   width: 150px;
   height: 150px;
   border: solid black 1px;
   border-radius: 3%;
   margin-left: 35%;
   margin-top: 2%;
   margin-bottom: 2%;
 }
 
 .input-border > button{
   margin-left: 33%;
   margin-top: 30% !important;
   background-color:rgb(121, 122, 124) !important;
 }