<div class="row">
  <div class="col-4 m-auto">
    <div class="card m-auto">
      <div class="card-header">
       Recupereaza parola
      </div>
      <div class="card-body">

        <form [formGroup]="form" (ngSubmit)="onClick()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Adresă de email</label>
              <input type="email" class="form-control" formControlName="emailAddress" >
              <span *ngIf="!emailAddress.valid && (emailAddress.touched || submited)" class="error-block">
                <span *ngIf="emailAddress.hasError('required')" class="error-block">Te rugăm să completezi acest camp.</span>
              </span>
          </div>

        <div class="form-group col-12 mt-2 d-flex  " >
          <button [disabled]="!form.valid" type="submit" class="btn btn-success  col-6">Trimite email</button>
        </div>

        </form>

      </div>
    </div>
  </div>
</div>
