.my-slider::ng-deep .slider .bar > span.left-handle {
    background: #807d7d !important;
    border: 7px solid #232221 !important;
  }
  
  .my-slider::ng-deep .slider .bar > span.right-handle {
    background: #807d7d !important;
    border: 7px solid #232221 !important;
  }
  
  .my-slider::ng-deep .slider .bar div.filler > span {
    background: #807d7d !important;
  }
  
  .my-slider::ng-deep .slider .bar > span.left-handle .handle-tooltip {
    color: #232221 !important;
    background: #807d7d !important;
    border: 1px solid #807d7d !important;
  }
  
  .my-slider::ng-deep .slider .bar > span.left-handle .handle-tooltip:after {
    border-top-color: #807d7d !important;
  }
  
  .my-slider::ng-deep .slider .bar > span.right-handle .handle-tooltip {
    color: #232221 !important;
    background: #807d7d !important;
    border: 1px solid #807d7d !important;
  }
  
  .my-slider::ng-deep .slider .bar > span.right-handle .handle-tooltip:after {
    border-top-color: #807d7d !important;
  }
  
  .my-slider::ng-deep .slider .bar div.filler > div.step-indicators > span {
    background: #232221 !important;
  }