<div class="row">
  <div [class.col-4]="header" [class.m-auto]="header" [class.col-6]="!header">
    <div [class.card]="header" [class.m-auto]="header">
      <div *ngIf="header" class="card-header">
        Schimbă parola
      </div>
      <div class="card-body">

        <form [formGroup]="form" (ngSubmit)="onClick()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Parola veche</label>
            <input type="password" class="form-control" formControlName="oldPassword" >
            <span *ngIf="!oldPassword.valid && (oldPassword.touched || submited)" class="error-block">
              <span *ngIf="oldPassword.hasError('required')" class="error-block">Te rugăm să completezi acest camp.</span>
              <span *ngIf="oldPassword.hasError('minlength')" class="error-block">Te rugăm sa setezi o parola de minim 5 caractere.</span>
            </span>
        </div>

          <div class="form-group col-12">
              <label for="name" class="form-label">Parola nouă</label>
              <input type="password" class="form-control" formControlName="password" >
              <span *ngIf="!password.valid && (password.touched || submited)" class="error-block">
                <span *ngIf="password.hasError('required')" class="error-block">Te rugăm să completezi acest camp.</span>
                <span *ngIf="password.hasError('minlength')" class="error-block">Te rugăm sa setezi o parola de minim 5 caractere.</span>
              </span>
          </div>

          <div class="form-group col-12">
            <label for="name" class="form-label">Confirmare parola nouă</label>
            <input type="password" class="form-control"  formControlName="confirmPassword">
            <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || submited)" class="error-block">
              <span *ngIf="confirmPassword.hasError('required')" class="error-block">Te rugăm să confirmi parola.</span>
            </span>
            <span *ngIf="form.hasError('notmatched') && confirmPassword.valid " class="error-block">
              Parola nu este identică.
            </span>
        </div>

        <div class="form-group col-12 mt-2 d-flex " >
          <button [disabled]="!form.valid" type="submit" class="btn btn-success  col-6">Schimbă parola</button>
        </div>

        </form>

      </div>
    </div>
  </div>
</div>