.decoration{
  margin-top: 15%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 4.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}


.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #6eb2f5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6eb2f5 5%, #79bbff 100%);
	background-color:#6eb2f5;
}
.myButton:active {
	position:relative;
	top:1px;
}



